# ===================================
# API Configuration
# ===================================
VITE_API_BASE_URL=
VITE_WS_BASE_URL=

# ===================================
# App Configuration
# ===================================
VITE_APP_NAME=
VITE_APP_VERSION=

# ===================================
# File Upload Limits
# ===================================
VITE_MAX_IMAGE_SIZE=
VITE_MAX_VIDEO_SIZE=

# ===================================
# API Timeouts (miliseconds)
# ===================================
VITE_API_TIMEOUT=
VITE_WS_RECONNECT_INTERVAL=
VITE_WS_MAX_RECONNECT_ATTEMPTS=

# ===================================
# API EMAIL JS
# ===================================
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# ===================================
# Github Repo
# ===================================
VITE_GITHUB_REPOSITORY=

# ===================================
# Github Repo
# ===================================
VITE_GITHUB_PROFILE=
VITE_LINKEDIN_PROFILE=
VITE_INSTAGRAM_PROFILE=
VITE_EMAIL=
VITE_EMAIL_TO=